html, body {
/* background-color: rgba(0, 0, 0, 1); */
width:100%;
height:100%;
overflow-y: hidden;
box-sizing: border-box;
min-width: 750px;
}
canvas {
	z-index: -5;
	
}
.fullscreen {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.container {
    display:flex
}
.row {
    display: flex;
     justify-content: space-evenly;
}
.forcedThinButton {
    width:60px !important;
}
input[type=range] {
    background-color:rgba(0,0,0,0) !important;
    background:rgba(0,0,0,0) !important;
}
input[type=text] {
    padding:0px !important;
}
#trackContainerDiv {
	height:100%;
	overflow-y: auto;
}
.trackName {
	width:100%;
    text-align: center;
}
.divider {
    border:0;
    border: 1px solid rgba(170, 157, 157, 0.8);

}
.trackDiv{
    background-color:white;
    color: black;
    border-radius: 2px;
    padding:5px;
    width:250px;
    margin-top: 5px;
    box-sizing: border-box;
}
 .floatSpanLeft span {
     float:left;
     margin:2px;
 }
.container {
    width:100% !important;
}
.row {
    width:100%;
    margin:0;
}
.col {
    justify-content: space-between !important;
}
.flexContainer {
    display:flex;
}
.vertical-align {
    display: flex;
    align-items: center;
}