.settingsContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.settingsTabButtonContainer {
	background-color: var(--innerMenuBgColor);
	width: 100%;
	top: 0;
	left: 0;
	height: 2em;
	display: flex;
	justify-content: space-between;
	position: absolute;
}

.settingsTabButton {
	flex: 1 1 auto;
	height: 2em;
	padding: 0.5em;
	box-sizing: border-box;
}
.settingsContentContainer {
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.settingsTabContentContainer {
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 2em;
	display: none;
	height: calc(100% - 2em);
}
.settingsTabContentContainer button {
	margin: 1.5em;
}
.settingsGroupContainer {
	border-top: 2px solid var(--borderColor);
}

.settingsGroupContainer:first-of-type {
	border-top: 0px solid black;
}
.settingsGroupLabel {
	font-size: 1em;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	color: var(--fontColor);
}
.settingContainer {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--innerMenuBgColor);
	transition: 0.2s all ease-out;
}
.settingContainer:hover {
	background-color: var(--lightInnerMenuHoverBgColor);
}
