.sliderContainer {
	/* margin-top: 5px;
	margin-bottom: 5px;
	position: relative; */
}
.inputSelect {
	float: right;
	margin-left: 3px;
}
.inputSelectLabel,
.sliderLabel,
.checkboxlabel {
	color: #424242a3;
	z-index: 15;
	pointer-events: none;
	font-size: 0.75rem;
}

.checkboxInput {
	float: right;
}
.sliderVal {
	margin-top: 5px;
	margin-right: 5px;
	float: right;
	color: #424242a3;
	z-index: 15;
	pointer-events: none;
	font-size: 0.75rem;
}
input[type="range"] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	padding-left: 1px;
	padding-right: 1px;
	transition: all 1s ease-out;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	background: #fafafa;
	border-radius: 8px;
	border: 1px solid #e8eaed;
	padding-left: 1px;
	padding-right: 1px;
}
input[type="range"]::-webkit-slider-thumb {
	border: 0px solid #fafafa;
	height: 12px;
	width: 12px;
	border-radius: 6px;
	background: var(--buttonColor);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 1px;
	transition: all 0.2s ease-out;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #fafafa;
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	background: #fafafa;
	border-radius: 8px;
	border: 1px solid #e8eaed;
	padding-left: 2px;
	padding-right: 2px;
}
input[type="range"]::-moz-range-thumb {
	border: 0px solid #fafafa;
	height: 12px;
	width: 12px;
	border-radius: 6px;
	background: var(--buttonColor);
	cursor: pointer;
	margin-top: 1px;
	transition: all 1s ease-out;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 16px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
	padding-left: 1px;
	padding-right: 1px;
}
input[type="range"]::-ms-fill-lower {
	background: #fafafa;
	border: 1px solid #e8eaed;
	border-radius: 16px;
}
input[type="range"]::-ms-fill-upper {
	background: #fafafa;
	border: 1px solid #e8eaed;
	border-radius: 16px;
}
input[type="range"]::-ms-thumb {
	border: 0px solid #fafafa;
	height: 12px;
	width: 12px;
	border-radius: 6px;
	background: var(--buttonColor);
	cursor: pointer;
	margin-top: 1px;
}
input[type="range"]:focus::-ms-fill-lower {
	background: #fafafa;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #fafafa;
}
